#
# Home Assistant
#

*.db
.storage/
.cloud/
deps/
image/
tts/
www/images/profile/

#
# Sensitive data
#

secrets.yaml

#
# IDE's
#
.vscode/

#
# Logs
#

logs/
*.log

#
# Python
#
__pycache__/
*.py[cod]

!/**/.gitkeep
